<!DOCTYPE html>
<html lang="pl">
<head>
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Interaktywna Strona</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="navbar">
  <ul class="menu">
      {% for stan in stany %}
      <li><a href="{% url 'przywroc_stan_url' stan.id %}">{{ stan.nazwa }}</a></li>
      {% endfor %}
  </ul>
</div>

<div class="main-content">
  <div class="form-container">
    <form method="POST" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-btn">Zapisz zmiany</button>
    </form>
  </div>

  <button id="toggleMenu" class="menu-toggle" onclick="toggleMenu()">☰</button>

  <div id="sidebar" class="sidebar closed">
    <input type="color" id="colorPicker" value="wpisz kolor">
    <button onclick="changeBackgroundColor()">Zmień kolor tła</button>

    <input type="text" id="titleInput" placeholder="Nowy tytuł strony">
    <button onclick="changeTitle()">Zmień tytuł</button>

    <button onclick="addTextField()">Dodaj pole tekstowe</button>
    <button onclick="removeTextField()">Usuń ostatnie pole tekstowe</button>
  </div>
</div>

<div id="contentArea" class="content">
</div>

<script src="{% static 'js/script.js' %}"></script>
<script>
    document.title = "{{ stan.tytul_strony }}";
    document.body.style.backgroundColor = "{{ stan.kolor_tla }}";
</script>

</body>
</html>
