body {

    font-family: 'Cute Font', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: red; /* Ustawienie domyślnego koloru tekstu na biały */
    background-image: url('background_CMS.png');
}

.navbar {
  background-color: #333;
  overflow: hidden;
  padding: 10px 0;
  text-align: center; /* Centruje elementy menu */
}

.menu li {
  list-style: none;
  display: inline;
}

.menu li a {
  color: inherit; /* Dziedziczenie koloru tekstu */
  padding: 14px 20px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase; /* Powiększenie liter */
  line-height: 1.5; /* Zwiększenie odstępu między liniami */
}

.menu li a:hover {
  background-color: #ddd;
  color: black;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-container {
  margin-bottom: 20px;
}

#toggleMenu {
  z-index: 2;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #111;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
}

.sidebar.closed {
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.sidebar input[type="color"],
.sidebar input[type="text"],
.sidebar button {
  padding: 10px;
  margin: 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  color: white;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 260px;
  color: #ffffff;
}

.user-text-field textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

#tableContainer {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    height: 100%;
    overflow-y: auto;
}

#templatesTable {
    width: 100%;
    margin-top: 20px;
}

#templatesTable th, #templatesTable td {
    padding: 10px;
}

#templatesTable button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#templatesTable button:hover {
    background-color: #367B37;
}

#formularz {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

label {
  display: block;
  margin-bottom: 10px;
}